

<!DOCTYPE html>
<html lang="en">
<head>
    <title>FitTrack-Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <link rel="stylesheet" type="text/css" href="static/dashboardstyles.css">
    <link rel="stylesheet" type="text/css" href="static/sidebarstyles.css">
    <link rel="stylesheet" type="text/css" href="static/bmr.css">
    <link rel="stylesheet" type="text/css" href="static/tdee.css">
    <link rel="stylesheet" type="text/css" href="static/dailylimit.css">
    <link rel="stylesheet" type="text/css" href="static/dashboardchartscss.css">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/scripts/fetchchathistory.js"></script>
    <script src="/static/scripts/calories.js"></script>
    <script src="/static/scripts/togglechat.js"></script>
    <script src="/static/scripts/chat.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/navbarstyles.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container mt-4">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark rounded">
            <a class="navbar-brand" href="#" style="margin-left: 48px; background: linear-gradient(90deg, rgba(6,127,127,1) 0%, rgba(212,35,143,1) 100%); -webkit-background-clip: text; color: transparent; text-shadow: 2px 2px 4px rgba(6,127,127,0.5);">FitTrack</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <!-- Full Page Menu -->
            <div class="fullPageMenu" id="nav">
                <div class="banner">
                    <img src="/static/images/test1.png" alt="image">
                </div>
                <div class="nav">
                    <ul>
                        <li><a href="/" data-text="Home">Home</a></li>
                        <li><a href="/login" data-text="Login">Login</a></li>
                        <li><a href="/logout" data-text="Logout">Logout</a></li>
    
                        <li><a href="/contact" data-text="Contact">Contact</a></li>
                        <li><a href="/dashboard" data-text="Dashboard">Dashboard</a></li>
    
                    </ul>
                    
                </div>
            </div>
            <li class="nav-item ticker">
                <div class="ticker-wrap">
                    
                 
                    <div class="ticker-item ticker-box" id="weatherValue"></div>
                </div>
            </li>
            <!-- Toggle Button -->
            <span class="menuicon" id="toggle" onclick="menuToggle()"></span>
        </nav>
    <script>
        
        function menuToggle() {
            var nav = document.getElementById("nav");
            var toggle = document.getElementById("toggle");
            
            // Toggle the menu
            nav.classList.toggle("active");
            toggle.classList.toggle("active");
        }
        
        // Call the function when the DOM is ready
        document.addEventListener('DOMContentLoaded', () => {
            setActiveMenuItem();
        });
    </script>
            <li class="nav-item ticker">
                <div class="ticker-wrap">
                    
                 
                    <div class="ticker-item ticker-box" id="weatherValue"></div>
                </div>
            </li>
            <!-- Toggle Button -->
            <span class="menuicon" id="toggle" onclick="menuToggle()"></span>
        </nav>
    <div class="container" id="container">
        <div class="form-container reset">
            <form action="/reset_request" method="POST" onsubmit="">
                <h1>Reset Password</h1>
                <span>Email</span>
                <input type="email" placeholder="Email" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" />
                <button type="submit" class="ghost animated-link" id="reset">Reset email</button>
            </form>
        </div>
</body>
</html>